%section.fdb-block
  .container
    .row
      .col.text-center
        %h1= t 'products.title'
        = link_to t('products.add'), new_product_path if can? :new, Product

%table
  %thead
    %tr
      %th Title
      %th{:colspan => "3"}
  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.title, product
